<!DOCTYPE html>
<html lang="en" th:replace="base :: parent(~{::title}, ~{::#content}, ~{::script})">
<head>
    <title th:text="${loggedInUser.getName()}+' | Contact Manager'">Dashboard page</title>
</head>
<body>
    <div id="content">
        <div th:if="${loggedInUser}">
            <div data-th-replace="~{user/sidebar :: sidebar}"></div>
        </div>

        <div class="sm:pl-64 pt-20" style="height: 1000px">
            <div class="flex items-center justify-center  flex-col">
                <h1 style="font-size: large;">This is Dashboard page.</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident, eaque.</p>
            </div>
        </div>
        
    </div>
    <script>
        console.log("this is add dashboard page");
    </script>
</body>
</html>