<!DOCTYPE html>
<html lang="en" th:replace="base :: parent(~{::title}, ~{::#content}, ~{::script})">
<head>
    <title>About page</title>
</head>
<body>
    <div id="content">
        <div th:if="${loggedInUser}">
            <div data-th-replace="~{user/sidebar :: sidebar}"></div>
        </div>
        <div class="flex items-center justify-center flex-col pt-20">
            <h1 style="font-size: large;">This is About page.</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident, eaque.</p>
        </div>
    </div>
    <script>
        console.log("this is add about page");
    </script>
</body>
</html>