<!DOCTYPE html>
<html lang="en" th:fragment="parent(title, content)" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace = "${title}">base page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
    <!-- Font Awsome -->
    <link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" 
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" 
    />
</head>
<body class="dark:bg-gray-800 dark:text-white">
    <!-- Nav bar fragmant -->
    <div th:replace="navbar :: navbar"></div>

    <!-- Main content fragment -->
    <div class="p-4">
        <section id="content" th:replace="${content}"></section>
    </div>

    <!-- Footer -->
    <footer class="p-4 text-center">
        <p>&copy; 2025 All rights reserved.</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
</body>
</html>