<!DOCTYPE html>
<html class ="" lang="en" th:fragment="parent(title, content, script)" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace = "${title}">base page</title>
    <!-- Tailwind CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{'/css/output.css'}" />
    <link rel="stylesheet" th:href="@{'/css/style.css'}" />
    <!-- Font Awsome -->
    <link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" 
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" 
    />
</head>
<body class="text-gray-900 bg-gray-100 dark:bg-gray-800 dark:text-white">
    <!-- Nav bar fragmant -->
    <div th:if="${loggedInUser}">
        <div th:replace="~{user/user_navbar :: navbar}"></div>
    </div>
    
    <div th:unless="${loggedInUser}">
        <div th:replace="~{navbar :: navbar}"></div>
    </div> 
    
    <!-- <div th:replace="navbar :: navbar"></div> -->

    <!-- Main content fragment -->
    <div class="">
        <section th:replace="${content}"></section>
    </div>

    <!-- Footer -->
    <footer class="p-4 text-center">
        <p>&copy; 2025 All rights reserved.</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script th:src="@{/js/script.js}"></script>
    <th:block data-th-replace="${script}"></th:block>
    
</body>
</html>