<!DOCTYPE html>
<html lang="en" th:replace="base :: parent(~{::title}, ~{::#content}, ~{::script})">
<head>
    <title>Sign up page</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div id="content">
        

        <div class="flex justify-center items-center min-h-screen mt-4">
            <div class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
            <form th:action="@{'/do-register'}" method="post" th:object="${userForm}" class="space-y-6" novalidate>

                <!-- Message box -->
                <div th:replace="message :: message"></div>
                
                <h5 class="text-xl font-medium text-gray-900 dark:text-white">Sign up for our platform</h5>
                
                <div>
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your name</label>
                    <input type="text" name="name" id="name" th:field="*{name}"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="John Doe" required />
                    <p th:if="${#fields.hasErrors('name')}"
                    th:errors = "*{name}"
                    class = "text-red-600 px-1 py-1"></p>
                </div>
                
                <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
                    <input type="email" name="email" id="email" th:field="*{email}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="name@company.com" required />
                    <p th:if="${#fields.hasErrors('email')}"
                    th:errors = "*{email}"
                    class = "text-red-600 px-1 py-1"></p>
                </div>
                
                <div>
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
                    <input type="password" name="password" id="password" th:field="*{password}" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required />
                    <p th:if="${#fields.hasErrors('password')}"
                    th:errors = "*{password}"
                    class = "text-red-600 px-1 py-1"></p>
                </div>


                <div>
                    <label for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm password</label>
                    <input type="password" name="confirm-password" id="confirm-password" th:field="*{confirmPassword}" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required />
                    <p th:if="${#fields.hasErrors('confirmPassword')}"
                    th:errors = "*{confirmPassword}"
                    class = "text-red-600 px-1 py-1"></p>
                    <p class = "text-red-600 px-1" id="password-message"></p>
                </div>
                
                <div>
                    <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone number</label>
                    <input type="tel" name="phone" id="phone" th:field="*{phoneNumber}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="123-456-7890" required />
                    <p th:if="${#fields.hasErrors('phoneNumber')}"
                    th:errors = "*{phoneNumber}"
                    class = "text-red-600 px-1 py-1"></p>
                    <p class="text-red-600 px-1" id="phone-message"></p>
                </div>
                
                <div>
                    <label for="about" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">About you</label>
                    <textarea name="about" id="about" th:field="*{about}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Tell us about yourself" required></textarea>
                    <p th:if="${#fields.hasErrors('about')}"
                    th:errors = "*{about}"  
                    class = "text-red-600 px-1 py-1"></p>
                </div>
                
                <div class="flex justify-between">
                    <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create your account</button>
                    <button type="reset" class="w-full ml-2 text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Clear</button>
                </div>
                
                <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                    Already registered? <a th:href="@{/login}" class="text-blue-700 hover:underline dark:text-blue-500">Sign in</a>
                </div>

                <script>

                    const passwordField = document.getElementById('password');
                    const confirmPasswordField = document.getElementById('confirm-password');
                    const messageElement = document.getElementById('password-message');

                    passwordField.addEventListener('input', validatePassword);
                    confirmPasswordField.addEventListener('input', validatePassword);

                    function validatePassword() {
                        if (passwordField.value !== confirmPasswordField.value) {
                            messageElement.textContent = 'Passwords do not match.';
                            messageElement.style.color = 'red';
                        } else {
                            messageElement.textContent = 'Passwords match!';
                            messageElement.style.color = 'green';
                        }
                    }
                </script>
            </form>
            </div>
        </div>

        
    </div>
    <script>
        console.log("this is add register page");
    </script>
</body>
</html>